@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;



.containerr{
 margin-top: 100px;
 margin-left: 30px;
}
.clearfix{
	clear: both;
}

.col-div-6{
	width: 50%;
	float: left;
}


.col-div-3{
	width: 25%;
	float: left;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #272c4a;
	margin-left: 10px;
	padding:10px;
}
.box p{
	 font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.col-div-8{
	width: 70%;
	float: left;
}
.col-div-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f7403b;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 95%;
	background-color: #272c4a;
	height: 330px;
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
td, th {
  text-align: left;
  padding:15px;
  color: #ddd;
  border-bottom: 1px solid #81818140;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}













#about{
width:100%;
height: 120vh;
background-color:#f3fdff;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px 5% 0px 5%;
position: relative;
}

.about-text{
  width: 45%;
  color: #fff;
  list-style: circle;
}
.about-text h2{
font-size: 2rem;
color:#00b7ff;
  font-weight: 500;
  margin: 0px;
padding: 0px;
}
.about-text p{
  width: 80%;
font-size: 1.2rem;
color:#272727;

}
.about-text button{
  margin-top: 20px;
width: 140px;
height: 45px;
border-radius: 10px;
border: none;
  outline: none;
  color: #ffffff;
background-color:#00b7ff;
}
.about-text button:hover{
background-color: rgb(0, 132, 255);
  transition: all ease 0.3s;
  color: #ffffff;
}


.about-image{
  width: 50%;
}
.about-image img{
width: 600px;
}

#features{
  width:100%;
  height:100vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px ;
  background-color: #ffffff;
}
.a-container{
  display: flex;
  justify-content: center;
  align-content: center;


}
.a-box{
  background-color: #ffffff;
  width:300px;
  height: 450px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 12px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
  position: relative;
}
.a-b-img{
  width: 100%;
  height: 60%;

}
.a-b-img img{
  padding: 15px;
  width:100%;
  height: 100%;

}
.a-box:hover{
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}
#presentaion{
  padding-top: 30px;
  width:100%;
  height:768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/presentation.png);
  text-align: center;
}
#presentaion h1{
font-size: 2rem;
}
#services{
  width:100%;
  height:100vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px ;
}

.s-heading h1{
  color:#FFFFFF;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;

}
.s-heading p{
  color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading{
  text-align: center;
  margin: 20px 0px;
}
.s-box{
  background-color: #ffffff;
  width:350px;
  height: 470px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
}
.b-container{
  display: flex;
  justify-content: center;
  align-content: center;


}
.s-b-img{
  width: 100%;
  height: 50%;

}
.s-b-img img{
  width:100%;
  height: 100%;

}
.s-b-text{
  width: 100%;
  height: 40%;
  background-color:#ffffff;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.s-b-text p{
  margin: 0px;
  color:#000266a6;
  font-size: 1.1rem;
  font-family: calibri;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  margin-top: 25px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.s-b-text p:hover{
  color:#000266;
}
.s-b-text a{
  margin-top:15px ;
}
.s-type{
  font-family: calibri;
  color:#000266;
  background-color: #ffffff;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}


#contact{
  background-color: #00b7ff;
  margin-top: 125px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
  padding: 30px 0px;
}
#contact h3{
font-size:2.5rem;
  margin:20px;
  color: #fff;
}
.contact-input{
width:400px;
height:50px;
background-color:#FFFFFF;
display:flex;
justify-content: center;
border-radius: 50px;
box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}

.contact-inputm{
  width:400px;
  height:70px;
  background-color:#FFFFFF;
  display:flex;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
  }
.contact-input input{
width:100%;
background-color: transparent;
border:none;
outline: none;
text-align: center;
color:#242425;
}
.contact-input a{
width:200px;
height:35px;
background-color:#00b7ff;
color:#FFFFFF;
display: flex;
font-size: 0.9rem;
justify-content: center;
align-items: center;
margin: auto 10px;
border-radius: 20px;
  font-weight: 500;
  transition: 0.4s ease-out;
}
.contact-input a:hover{
  background-color:#0099ff;
}

.contact-button{
  margin-top: 20px;
width: 140px;
height: 45px;
border-radius: 10px;
border: none;
  outline: none;
  color: #ffffff;
background-color: green;
}
.contact-button:hover{
background-color: rgb(0, 132, 255);
  transition: all ease 0.3s;
  color: #ffffff;
}

@media(max-width:1190px){
#main{
  background-size: 1150px !important;
  
}
.name{
  left: 50%;
  top: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
}
.about-image img{
  height:400px;
  }
  #features{
  height:auto;
  }
  .a-container{
  flex-wrap: wrap;
}
  .a-box{
  flex-grow: 1;
}
  #services{
  height:auto;
  }
  .b-container{
  flex-wrap: wrap;
}
  .s-box{
  flex-grow: 1;
}
.s-b-img img{
  object-fit:cover;
  }
  .a-b-img img{
  object-fit:contain;
  }
  
  

}

@media(max-width:970px){
.main{
  background-image: none !important;
  
}
.name{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.about-image{
      display:none;
  }
  .cv-btn{
      margin-left: 27%;
      margin-top: 20px;
  }
#about{
  justify-content: center;
      padding-top: 0px;
      text-align: center;
      
      margin-top: 0px;
}
.about-text{
      width: 90%;
}
.about-text h1{
  font-size:4rem;
  }
  .about-text p{
      width: 100%;
  }
  #features{
      margin-bottom: 100px;
  }
#presentaion{
      display: none;
  }
}
@media(max-width:600px){
.name{
  width:60%;
  }}
  .scroll{
      left: 42.5%;
  }
@media(max-width:1100px){.menu-icon{
  display:block;}
      nav{
          justify-content: space-between;
          height: 65px;
          padding: 0px 30px;
      }
      .logo img{
          width:70px;
      }
      .header-btns{
          margin: 0;
      }
      .menu{
          display:none;
          position:absolute;
          top:65px;
          left:0px;
          background-color:#FFFFFF;
          border-bottom:4px solid #1db096;
          width:100%;
          padding:0px;
          margin:0px;
      }
      .menu li{
          width:100%;
      }
      nav .menu li a{
          width:100%;
          height:40px;
          justify-content: center;
          align-items: center;
          margin:0px;
          padding: 25px;
          border:1px solid rgba(38,38,38,0.03);
      }
      nav .menu-icon{
          cursor:pointer;
          float:right;
          padding:28px 20px;
          position:relative;
          user-select: none;
      }
      nav .menu-icon .nav-icon{
          background-color:#333333;
          display:block;
          height:2px;
          position:relative;
          transition: background 0.2s ease-out;
          width:18px;
      }
      nav .menu-icon .nav-icon:before,
      nav .menu-icon .nav-icon:after{
          background:#333;
          content:'';
          display:block;
          height:100%;
          position:absolute;
          transition:all ease-out 0.2s;
          width:100%;
      }
      nav .menu-icon .nav-icon:before{
          top:5px;
      }
      nav .menu-icon .nav-icon:after{
          top:-5px;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon{
          background:transparent;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
          transform: rotate(-45deg);
          top:0;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
          transform: rotate(45deg);
          top:0;
      }
      nav .menu-btn{
          display:none;
      }
      nav .menu-btn:checked ~ .menu{
          display:block;
      }}
      @media(max-width:400px){
          .s-box{
              width: 100%;
              height:400px;
          }
      }

      .bawah {
        background-image: -webkit-linear-gradient(#22577a, #38a3a5);
        margin-top: 10%;
        
      }
      
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      
      .bawah-box {
        padding: 70px 0;
        margin-left: 170px;
      }
      
      .footer-col {
        width: 25%;
        padding: 0 15px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
       
      }
      
      .footer-col h1 {
        margin-left: 20px;
       
      }
      .footer-col ul {
        list-style: none;
        margin-left: 20px;
        margin-top: 10px;
      }
      
      .sosial-link i{
        margin: 20px;
      }
      
      .footer1 {
        padding: 10px;
        background-color: black;
        
      }
      
      
      
      .down1 {
        text-align: center;
        color: white;
        display: inline;
        margin-left: 500px;
        font-family: 'Times New Roman', Times, serif;
      }

      #main{

        width:100%;
        height:768px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./images/113.png');
      }
     
      .name{
      font-family: 'Montserrat';
      width: 500px;
      position: absolute;
        left: 22%;
      top: 50%;
      transform: translate(-22%,-50%);
      }
      .name span{
        color: #00b7ff;
      }
      .name .details{
        color: #969696;
      }
      .name h1{
      font-family:'Montserrat';
      font-size: 40px;
      margin:0px;
      letter-spacing: 2px;
      color:#000000;
      }
      
     
      
      


      /*Content*/
      .servicescontent{
        /* background-image:url("../images/poduct\ bg.png"); */
        background-size: 1000px;
        background-position: center;
      }
      .servicescontent-heading{
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }
      .servicescontent-heading h2{
        line-height: 55px;
        font-size: 2.2rem;
        color:#22252e;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0px;
      }
      .servicescontent-heading p{
        font-size: 1rem;
        color:#777474;
        width:50%;
      }
      .boxcontent-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 30px;
      }
      .boxcontent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:500px;
        height: 400px;
        text-align: center;
        box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
        border-radius: 10px;
        background-color: #fff;
        margin: 20px;
        flex-grow: 1;
      }
      .boxcontent img{
        height:150px;
        margin:10px;
      }
      .boxcontent font{
        font-size: 1.5rem;
        color: #22252e;
        letter-spacing: 1px;
        font-weight: 700;
      }
      .boxcontent p{
        font-size: 1rem;
        color: #777474;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 500px;
      }
      .boxcontent a{
        width:150px;
        height:40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #5a76fd;
        text-transform: uppercase;
        margin: auto;
        border-radius: 5px;
        font-weight: 600;
        font-size: 0.9rem;
        color:#5a76fd;
        margin:0px;
      }
      .boxcontent a:hover{
        background-color: #5a76fd;
        color:#fff;
        box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
        transition: all ease 0.3s;
      }